<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-jhxianliao" version="1.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
 xmlns:rim="http://www.blackberry.com/ns/widgets"
 xmlns:android="http://schemas.android.com/apk/res/android">
    <name>xianliaoPlugin</name>
	<description>A cordova plugin, a JS version of xianliao SDK</description>
    <keywords>cordova,xianliao,share</keywords>
    <js-module name="jhxianliao" src="www/xianliaoPlugin.js">
        <clobbers target="jhxianliao" />
    </js-module>
	 <!-- add this to your config.xml -->
	<preference name="XLAPPID" />
	
	<!-- android配置 -->
	<platform name="android">

		<hook type="after_plugin_add" src="scripts/android-install.js" />
        <hook type="after_plugin_install" src="scripts/android-install.js" />
        <hook type="before_plugin_rm" src="scripts/android-install.js" />
        <hook type="before_plugin_uninstall" src="scripts/android-install.js" />
		
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="JhXianliao">
                <param name="android-package" value="com.jiahua.xianliao.JhXianliao"/>
            </feature>
            <preference name="XLAPPID" value="$XLAPPID"/><!-- 闲聊appid参数 -->
        </config-file>
		
		<config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
		
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                android:name=".sgapi.SGEntryActivity"
                android:label="@string/launcher_name"
                android:exported="true"
                android:taskAffinity="$PACKAGE_NAME"
                android:launchMode="singleTask">
                <intent-filter>
                    <action android:name="android.intent.action.VIEW"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                    <data android:scheme="$XLAPPID"/>
                </intent-filter>
            </activity>
        </config-file>
		
		
        <source-file src="src/android/JhXianliao.java" target-dir="src/com/jiahua/xianliao"/>
		<source-file src="src/android/Util.java" target-dir="src/com/jiahua/xianliao" />
        <lib-file src="src/android/xianliaosdk_1.0.7.jar"/>
    </platform>
	
	
	<!-- ios配置-->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="JhXianliao">
                <param name="ios-package" value="CDVXianliao"/>
                <param name="onload" value="true" />
            </feature>
            <preference name="XLAPPID" value="$XLAPPID"/>
        </config-file>

        <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
            <array>
                <string>xianliao</string>
            </array>
        </config-file>

        <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
            <dict>
                <key>NSAllowsArbitraryLoads</key>
                <true/>
            </dict>
        </config-file>


        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleURLName</key>
                    <string>xianliao</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>xianliao$XLAPPID</string>
                    </array>
                </dict>
            </array>
        </config-file>

        <!-- Plugin source code -->
        <header-file src="src/ios/CDVXianliao.h" />
        <source-file src="src/ios/CDVXianliao.m" />

        <!-- xianliao Official -->
        <header-file src="src/ios/libs/XiaoliaoSDK_iOS/XianliaoApiManager.h" />
        <header-file src="src/ios/libs/XiaoliaoSDK_iOS/XianliaoApiObject.h" />
        <source-file src="src/ios/libs/XiaoliaoSDK_iOS/xianliaoApi.a" framework="true" />

        <!-- Other required frameworks -->
        <framework src="libz.tbd" />
        <framework src="libsqlite3.0.tbd" />
        <framework src="CoreTelephony.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="Security.framework" />
        <framework src="CFNetwork.framework" />
        <framework src="libc++.1.tbd" />
    </platform>

	
</plugin>
